In [ ]:
#%%

import boto3

athena  = boto3.client('athena')

In [ ]:
athena

In [ ]:
athena_client  = boto3.client('athena')

In [ ]:
athena_client.list_work_groups()

{'WorkGroups': [{'Name': 'primary',
   'State': 'ENABLED',
   'Description': '',
   'CreationTime': datetime.datetime(2025, 4, 21, 1, 39, 6, 36000, tzinfo=tzlocal()),
   'EngineVersion': {'SelectedEngineVersion': 'AUTO',
    'EffectiveEngineVersion': 'Athena engine version 3'}}],
 'ResponseMetadata': {'RequestId': '6163e554-a202-4cde-a729-6a8c81a2d11a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 02:59:16 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '222',
   'connection': 'keep-alive',
   'x-amzn-requestid': '6163e554-a202-4cde-a729-6a8c81a2d11a'},
  'RetryAttempts': 0}}

In [ ]:
#%%

CatalogName = 'AWSDataCatalog'
athena_client.list_databases(CatalogName = CatalogName)

{'DatabaseList': [{'Name': 'default'},
  {'Name': 'ghlandingdb'},
  {'Name': 'myretail'},
  {'Name': 'retail_db'},
  {'Name': 'studio_widget_simulatedclickstream_1745866873000_db'}],
 'ResponseMetadata': {'RequestId': '47eba360-e151-4587-9c31-19768e1437be',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 03:04:23 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '164',
   'connection': 'keep-alive',
   'x-amzn-requestid': '47eba360-e151-4587-9c31-19768e1437be'},
  'RetryAttempts': 0}}

In [ ]:
type(athena_client)

botocore.client.Athena

In [ ]:
databases = athena_client.list_databases(CatalogName = CatalogName)

In [ ]:
type(databases)

dict

In [ ]:
list_databases = databases['DatabaseList']

In [ ]:
list_databases

[{'Name': 'default'},
 {'Name': 'ghlandingdb'},
 {'Name': 'myretail'},
 {'Name': 'retail_db'},
 {'Name': 'studio_widget_simulatedclickstream_1745866873000_db'}]

In [ ]:
type(list_databases)

list

In [ ]:
list_databases[0]

{'Name': 'default'}

In [ ]:
#%%

for name in list_databases:
    print(name)

{'Name': 'default'}
{'Name': 'ghlandingdb'}
{'Name': 'myretail'}
{'Name': 'retail_db'}
{'Name': 'studio_widget_simulatedclickstream_1745866873000_db'}

In [ ]:
databases

{'DatabaseList': [{'Name': 'default'},
  {'Name': 'ghlandingdb'},
  {'Name': 'myretail'},
  {'Name': 'retail_db'},
  {'Name': 'studio_widget_simulatedclickstream_1745866873000_db'}],
 'ResponseMetadata': {'RequestId': '8b6d7fdb-74c2-4ac9-b95d-127c7f33f551',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 03:14:16 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '164',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8b6d7fdb-74c2-4ac9-b95d-127c7f33f551'},
  'RetryAttempts': 0}}

In [ ]:
[database['Name'] for database in databases['DatabaseList']]

['default',
 'ghlandingdb',
 'myretail',
 'retail_db',
 'studio_widget_simulatedclickstream_1745866873000_db']

In [ ]:
#%%

name_db = []
for database in list_databases:
    x = database['Name']
    name_db.append(x)

In [ ]:
name_db

['default',
 'ghlandingdb',
 'myretail',
 'retail_db',
 'studio_widget_simulatedclickstream_1745866873000_db']

In [ ]:
# %%

name_db = [database['Name'] for database in list_databases]

In [ ]:
name_db

['default',
 'ghlandingdb',
 'myretail',
 'retail_db',
 'studio_widget_simulatedclickstream_1745866873000_db']

In [ ]:
database_name = name_db[3]

In [ ]:
database_name

'retail_db'

In [ ]:
athena_client.list_table_metadata?

Signature: athena_client.list_table_metadata(*args, **kwargs)
Docstring:
Lists the metadata for the tables in the specified data catalog database.



See also: `AWS API Documentation <https://docs.aws.amazon.com/goto/WebAPI/athena-2017-05-18/ListTableMetadata>`_


**Request Syntax**
::

  response = client.list_table_metadata(
      CatalogName='string',
      DatabaseName='string',
      Expression='string',
      NextToken='string',
      MaxResults=123,
      WorkGroup='string'
  )

:type CatalogName: string
:param CatalogName: **[REQUIRED]**

  The name of the data catalog for which table metadata should be returned.




:type DatabaseName: string
:param DatabaseName: **[REQUIRED]**

  The name of the database for which table metadata should be returned.




:type Expression: string
:param Expression:

  A regex filter that pattern-matches table names. If no expression is supplied, metadata for all tables are listed.




:type NextToken: string
:param NextToken:

  A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.




:type MaxResults: integer
:param MaxResults:

  Specifies the maximum number of results to return.




:type WorkGroup: string
:param WorkGroup:

  The name of the workgroup for which the metadata is being fetched. Required if requesting an IAM Identity Center enabled Glue Data Catalog.





:rtype: dict
:returns:

  **Response Syntax**


  ::

    {
        'TableMetadataList': [
            {
                'Name': 'string',
                'CreateTime': datetime(2015, 1, 1),
                'LastAccessTime': datetime(2015, 1, 1),
                'TableType': 'string',
                'Columns': [
                    {
                        'Name': 'string',
                        'Type': 'string',
                        'Comment': 'string'
                    },
                ],
                'PartitionKeys': [
                    {
                        'Name': 'string',
                        'Type': 'string',
                        'Comment': 'string'
                    },
                ],
                'Parameters': {
                    'string': 'string'
                }
            },
        ],
        'NextToken': 'string'
    }

  **Response Structure**



  - *(dict) --*


    - **TableMetadataList** *(list) --*

      A list of table metadata.




      - *(dict) --*

        Contains metadata for a table.




        - **Name** *(string) --*

          The name of the table.




        - **CreateTime** *(datetime) --*

          The time that the table was created.




        - **LastAccessTime** *(datetime) --*

          The last time the table was accessed.




        - **TableType** *(string) --*

          The type of table. In Athena, only ``EXTERNAL_TABLE`` is supported.




        - **Columns** *(list) --*

          A list of the columns in the table.




          - *(dict) --*

            Contains metadata for a column in a table.




            - **Name** *(string) --*

              The name of the column.




            - **Type** *(string) --*

              The data type of the column.




            - **Comment** *(string) --*

              Optional information about the column.






        - **PartitionKeys** *(list) --*

          A list of the partition keys in the table.




          - *(dict) --*

            Contains metadata for a column in a table.




            - **Name** *(string) --*

              The name of the column.




            - **Type** *(string) --*

              The data type of the column.




            - **Comment** *(string) --*

              Optional information about the column.






        - **Parameters** *(dict) --*

          A set of custom key/value pairs for table properties.




          - *(string) --*


            - *(string) --*






    - **NextToken** *(string) --*

      A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.


File:      ~/de_on_aws/data_eng_env/lib/python3.9/site-packages/botocore/client.py
Type:      method

In [ ]:
tables = athena_client.list_table_metadata(CatalogName = CatalogName, DatabaseName = database_name )

In [ ]:
database_name = name_db[3]
tables = athena_client.list_table_metadata(CatalogName = CatalogName, DatabaseName = database_name )

In [ ]:
tables

{'TableMetadataList': [{'Name': 'categories',
   'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
   'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 13, tzinfo=tzlocal()),
   'TableType': 'EXTERNAL_TABLE',
   'Columns': [{'Name': 'category_id', 'Type': 'bigint'},
    {'Name': 'category_department_id', 'Type': 'bigint'},
    {'Name': 'category_name', 'Type': 'string'}],
   'PartitionKeys': [],
   'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
    'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'retail_db_crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '23',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
    'location': 's3://kshitij-retail-bucket/retail_db/categories/',
    'objectCount': '2',
    'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
    'recordCount': '98',
    'serde.param.field.delim': ',',
    'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'sizeKey': '2274',
    'skip.header.line.count': '1',
    'typeOfData': 'file'}},
  {'Name': 'customers',
   'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
   'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 13, tzinfo=tzlocal()),
   'TableType': 'EXTERNAL_TABLE',
   'Columns': [{'Name': 'customer_id', 'Type': 'bigint'},
    {'Name': 'customer_fname', 'Type': 'string'},
    {'Name': 'customer_lname', 'Type': 'string'},
    {'Name': 'customer_email', 'Type': 'string'},
    {'Name': 'customer_password', 'Type': 'string'},
    {'Name': 'customer_street', 'Type': 'string'},
    {'Name': 'customer_city', 'Type': 'string'},
    {'Name': 'customer_state', 'Type': 'string'},
    {'Name': 'customer_zipcode', 'Type': 'bigint'}],
   'PartitionKeys': [],
   'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
    'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'retail_db_crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '97',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
    'location': 's3://kshitij-retail-bucket/retail_db/customers/',
    'objectCount': '2',
    'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
    'recordCount': '19918',
    'serde.param.field.delim': ',',
    'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'sizeKey': '1932196',
    'skip.header.line.count': '1',
    'typeOfData': 'file'}},
  {'Name': 'departments',
   'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
   'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 13, tzinfo=tzlocal()),
   'TableType': 'EXTERNAL_TABLE',
   'Columns': [{'Name': 'department_id', 'Type': 'bigint'},
    {'Name': 'department_name', 'Type': 'string'}],
   'PartitionKeys': [],
   'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
    'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'retail_db_crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '16',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
    'location': 's3://kshitij-retail-bucket/retail_db/departments/',
    'objectCount': '2',
    'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
    'recordCount': '12',
    'serde.param.field.delim': ',',
    'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'sizeKey': '194',
    'skip.header.line.count': '1',
    'typeOfData': 'file'}},
  {'Name': 'order_items',
   'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
   'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 13, tzinfo=tzlocal()),
   'TableType': 'EXTERNAL_TABLE',
   'Columns': [{'Name': 'order_item_id', 'Type': 'bigint'},
    {'Name': 'order_item_order_id', 'Type': 'bigint'},
    {'Name': 'order_item_product_id', 'Type': 'bigint'},
    {'Name': 'order_item_quantity', 'Type': 'bigint'},
    {'Name': 'order_item_subtotal', 'Type': 'double'},
    {'Name': 'order_item_product_price', 'Type': 'double'}],
   'PartitionKeys': [],
   'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
    'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'retail_db_crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '55',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
    'location': 's3://kshitij-retail-bucket/retail_db/order_items/',
    'objectCount': '2',
    'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
    'recordCount': '202952',
    'serde.param.field.delim': ',',
    'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'sizeKey': '11162400',
    'skip.header.line.count': '1',
    'typeOfData': 'file'}},
  {'Name': 'orders',
   'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
   'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 13, tzinfo=tzlocal()),
   'TableType': 'EXTERNAL_TABLE',
   'Columns': [{'Name': 'order_id', 'Type': 'bigint'},
    {'Name': 'order_date', 'Type': 'string'},
    {'Name': 'order_customer_id', 'Type': 'bigint'},
    {'Name': 'order_status', 'Type': 'string'}],
   'PartitionKeys': [],
   'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
    'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'retail_db_crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '43',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
    'location': 's3://kshitij-retail-bucket/retail_db/orders/',
    'objectCount': '2',
    'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
    'recordCount': '142738',
    'serde.param.field.delim': ',',
    'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'sizeKey': '6137758',
    'skip.header.line.count': '1',
    'typeOfData': 'file'}},
  {'Name': 'products',
   'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
   'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 14, tzinfo=tzlocal()),
   'TableType': 'EXTERNAL_TABLE',
   'Columns': [{'Name': 'product_id', 'Type': 'bigint'},
    {'Name': 'product_category_id', 'Type': 'bigint'},
    {'Name': 'product_name', 'Type': 'string'},
    {'Name': 'product_description', 'Type': 'string'},
    {'Name': 'product_price', 'Type': 'double'},
    {'Name': 'product_image', 'Type': 'string'}],
   'PartitionKeys': [],
   'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
    'CrawlerSchemaDeserializerVersion': '1.0',
    'CrawlerSchemaSerializerVersion': '1.0',
    'UPDATED_BY_CRAWLER': 'retail_db_crawler',
    'areColumnsQuoted': 'false',
    'averageRecordSize': '123',
    'classification': 'csv',
    'columnsOrdered': 'true',
    'compressionType': 'none',
    'delimiter': ',',
    'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
    'location': 's3://kshitij-retail-bucket/retail_db/products/',
    'objectCount': '2',
    'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
    'recordCount': '2852',
    'serde.param.field.delim': ',',
    'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
    'sizeKey': '350998',
    'skip.header.line.count': '1',
    'typeOfData': 'file'}}],
 'ResponseMetadata': {'RequestId': 'df27dd65-0220-4d20-a572-e364cd0ed46b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 05:15:59 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '6590',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'df27dd65-0220-4d20-a572-e364cd0ed46b'},
  'RetryAttempts': 0}}

In [ ]:
database_name = name_db[3]
tables_metadata = athena_client.list_table_metadata(CatalogName = CatalogName, DatabaseName = database_name )

In [ ]:
# %%

database_name = name_db[3]
tables_metadata = athena_client.list_table_metadata(CatalogName = CatalogName, DatabaseName = database_name )


table_name = [tables['Name'] for tables in tables_metadata['TableMetadataList']]

In [ ]:
table_name

['categories', 'customers', 'departments', 'order_items', 'orders', 'products']

In [ ]:
# %%

category_table = table_name[0]
category_metadata = athena_client.get_table_metadata(CatalogName = CatalogName, DatabaseName = database_name, TableName = category_table)

In [ ]:
category_metadata

{'TableMetadata': {'Name': 'categories',
  'CreateTime': datetime.datetime(2025, 4, 29, 15, 31, 8, tzinfo=tzlocal()),
  'LastAccessTime': datetime.datetime(2025, 4, 29, 16, 10, 13, tzinfo=tzlocal()),
  'TableType': 'EXTERNAL_TABLE',
  'Columns': [{'Name': 'category_id', 'Type': 'bigint'},
   {'Name': 'category_department_id', 'Type': 'bigint'},
   {'Name': 'category_name', 'Type': 'string'}],
  'PartitionKeys': [],
  'Parameters': {'CRAWL_RUN_ID': '7f43feff-6d63-402a-bf18-23d17be75e4a',
   'CrawlerSchemaDeserializerVersion': '1.0',
   'CrawlerSchemaSerializerVersion': '1.0',
   'UPDATED_BY_CRAWLER': 'retail_db_crawler',
   'areColumnsQuoted': 'false',
   'averageRecordSize': '23',
   'classification': 'csv',
   'columnsOrdered': 'true',
   'compressionType': 'none',
   'delimiter': ',',
   'inputformat': 'org.apache.hadoop.mapred.TextInputFormat',
   'location': 's3://kshitij-retail-bucket/retail_db/categories/',
   'objectCount': '2',
   'outputformat': 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat',
   'recordCount': '98',
   'serde.param.field.delim': ',',
   'serde.serialization.lib': 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe',
   'sizeKey': '2274',
   'skip.header.line.count': '1',
   'typeOfData': 'file'}},
 'ResponseMetadata': {'RequestId': 'd3135ea2-26f3-40ac-83fc-f6c28a91f348',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 05:27:17 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1024',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'd3135ea2-26f3-40ac-83fc-f6c28a91f348'},
  'RetryAttempts': 0}}

In [ ]:
# %%

import pandas as pd

def metadata_to_dataframe(metadata):
    columns = metadata['TableMetadata']['Columns']
    
    df = pd.DataFrame(columns)
    
    df.attrs['table_name'] = metadata['TableMetadata']['Name']
    df.attrs['database_name'] = metadata['TableMetadata'].get('DatabaseName', '')
    df.attrs['created_time'] = metadata['TableMetadata'].get('CreateTime', '')
    df.attrs['table_type'] = metadata['TableMetadata'].get('TableType', '')
    
    return df

category_metadata = athena_client.get_table_metadata(
    CatalogName=CatalogName, 
    DatabaseName=database_name, 
    TableName=category_table
)

category_df = metadata_to_dataframe(category_metadata)

In [ ]:
category_df

                     Name    Type
0             category_id  bigint
1  category_department_id  bigint
2           category_name  string

In [ ]:
# %%

import time
s3_output = 's3://kshitij-de-bucket/boto3queryresults/'  
database = 'retail_db' 
query = 'SELECT count(*) FROM retail_db.orders'

response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={'Database': database},
    ResultConfiguration={'OutputLocation': s3_output}
)

query_execution_id = response['QueryExecutionId']

while True:
    result = athena_client.get_query_execution(QueryExecutionId=query_execution_id)
    status = result['QueryExecution']['Status']['State']
    if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
        break
    time.sleep(2)


if status == 'SUCCEEDED':
    result_response = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    rows = result_response['ResultSet']['Rows']
    result_value = rows[1]['Data'][0]['VarCharValue']  
    print("Count:", result_value)
else:
    print("Query failed or was cancelled. Status:", status)

Count: 137766

In [ ]:
response

{'QueryExecutionId': 'e0ddb003-f0c4-4cdf-a2df-eafe7695145a',
 'ResponseMetadata': {'RequestId': '28a4442f-61e7-4049-97c2-1c93263cb9a6',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 07:53:21 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '28a4442f-61e7-4049-97c2-1c93263cb9a6'},
  'RetryAttempts': 0}}

In [ ]:
query_execution_id

'e0ddb003-f0c4-4cdf-a2df-eafe7695145a'

In [ ]:
result

{'QueryExecution': {'QueryExecutionId': 'e0ddb003-f0c4-4cdf-a2df-eafe7695145a',
  'Query': 'SELECT count(*) FROM retail_db.orders',
  'StatementType': 'DML',
  'ResultConfiguration': {'OutputLocation': 's3://kshitij-de-bucket/boto3queryresults/e0ddb003-f0c4-4cdf-a2df-eafe7695145a.csv'},
  'ResultReuseConfiguration': {'ResultReuseByAgeConfiguration': {'Enabled': False}},
  'QueryExecutionContext': {'Database': 'retail_db'},
  'Status': {'State': 'SUCCEEDED',
   'SubmissionDateTime': datetime.datetime(2025, 5, 2, 13, 23, 21, 604000, tzinfo=tzlocal()),
   'CompletionDateTime': datetime.datetime(2025, 5, 2, 13, 23, 22, 369000, tzinfo=tzlocal())},
  'Statistics': {'EngineExecutionTimeInMillis': 599,
   'DataScannedInBytes': 6137758,
   'TotalExecutionTimeInMillis': 765,
   'QueryQueueTimeInMillis': 82,
   'ServicePreProcessingTimeInMillis': 46,
   'QueryPlanningTimeInMillis': 60,
   'ServiceProcessingTimeInMillis': 38,
   'ResultReuseInformation': {'ReusedPreviousResult': False}},
  'WorkGroup': 'primary',
  'EngineVersion': {'SelectedEngineVersion': 'AUTO',
   'EffectiveEngineVersion': 'Athena engine version 3'},
  'SubstatementType': 'SELECT'},
 'ResponseMetadata': {'RequestId': '6aaba601-6323-4412-ac11-a669c213d6aa',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 07:53:24 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '1692',
   'connection': 'keep-alive',
   'x-amzn-requestid': '6aaba601-6323-4412-ac11-a669c213d6aa'},
  'RetryAttempts': 0}}

In [ ]:
result_response

{'UpdateCount': 0,
 'ResultSet': {'Rows': [{'Data': [{'VarCharValue': '_col0'}]},
   {'Data': [{'VarCharValue': '137766'}]}],
  'ResultSetMetadata': {'ColumnInfo': [{'CatalogName': 'hive',
     'SchemaName': '',
     'TableName': '',
     'Name': '_col0',
     'Label': '_col0',
     'Type': 'bigint',
     'Precision': 19,
     'Scale': 0,
     'Nullable': 'UNKNOWN',
     'CaseSensitive': False}]}},
 'ResponseMetadata': {'RequestId': 'e8c40428-3c0c-484b-811d-df9394afe818',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 07:53:24 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '352',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'e8c40428-3c0c-484b-811d-df9394afe818'},
  'RetryAttempts': 0}}

In [ ]:
# %%

#now if the query results are in data and i want to convert them to dataframe
 
import pandas as pd

query_dataframe = f'SELECT * FROM retail_db.categories LIMIT 10'

response_1 = athena_client.start_query_execution(
    QueryString=query_dataframe,
    QueryExecutionContext={'Database': database},
    ResultConfiguration={'OutputLocation': s3_output}
)

In [ ]:
response_1

{'QueryExecutionId': 'db05df9b-226e-48df-bba1-76627f9e701c',
 'ResponseMetadata': {'RequestId': '369eb173-4b9f-4ca0-87ef-e5b20f029266',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 May 2025 07:58:29 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '369eb173-4b9f-4ca0-87ef-e5b20f029266'},
  'RetryAttempts': 0}}

In [ ]:
query_execution_id_1 = response_1['QueryExecutionId']

In [ ]:
query_execution_id_1

'db05df9b-226e-48df-bba1-76627f9e701c'

In [ ]:
# %%

#now if the query results are in data and i want to convert them to dataframe
 
import pandas as pd

query_dataframe = f'SELECT * FROM retail_db.categories LIMIT 10'

response_1 = athena_client.start_query_execution(
    QueryString=query_dataframe,
    QueryExecutionContext={'Database': database},
    ResultConfiguration={'OutputLocation': s3_output}
)

query_execution_id_1 = response_1['QueryExecutionId']

def wait_for_query(query_id):
    while True:
        result = athena_client.get_query_execution(QueryExecutionId=query_id)
        status = result['QueryExecution']['Status']['State']
        if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
            return status
        time.sleep(1)

status = wait_for_query(query_execution_id_1)

if status == 'SUCCEEDED':
    result = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    
    # Extract column names
    columns = [col['Label'] for col in result['ResultSet']['ResultSetMetadata']['ColumnInfo']]
    
    # Skip header row (it's included as first row)
    rows = result['ResultSet']['Rows'][1:]
    
    # Parse rows
    data = []
    for row in rows:
        data.append([field.get('VarCharValue', '') for field in row['Data']])

    # Convert to DataFrame
    df = pd.DataFrame(data, columns=columns)
    print(df)
else:
    print(f"Query failed with status: {status}")

    _col0
0  137766

In [ ]:
df

    _col0
0  137766

In [ ]:
# %%

#now if the query results are in data and i want to convert them to dataframe
 
import pandas as pd

query_dataframe = f'SELECT * FROM retail_db.categories LIMIT 10'

response_1 = athena_client.start_query_execution(
    QueryString=query_dataframe,
    QueryExecutionContext={'Database': database},
    ResultConfiguration={'OutputLocation': s3_output}
)

query_execution_id_1 = response_1['QueryExecutionId']

def wait_for_query(query_id):
    while True:
        result = athena_client.get_query_execution(QueryExecutionId=query_id)
        status = result['QueryExecution']['Status']['State']
        if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
            return status
        time.sleep(1)

status = wait_for_query(query_execution_id_1)

if status == 'SUCCEEDED':
    result = athena_client.get_query_results(QueryExecutionId=query_execution_id_1)
    
    # Extract column names
    columns = [col['Label'] for col in result['ResultSet']['ResultSetMetadata']['ColumnInfo']]
    
    # Skip header row (it's included as first row)
    rows = result['ResultSet']['Rows'][1:]
    
    # Parse rows
    data = []
    for row in rows:
        data.append([field.get('VarCharValue', '') for field in row['Data']])

    # Convert to DataFrame
    df = pd.DataFrame(data, columns=columns)
    print(df)
else:
    print(f"Query failed with status: {status}")

  category_id category_department_id        category_name
0           1                      2             Football
1           2                      2               Soccer
2           3                      2  Baseball & Softball
3           4                      2           Basketball
4           5                      2             Lacrosse
5           6                      2     Tennis & Racquet
6           7                      2               Hockey
7           8                      2          More Sports
8           9                      3     Cardio Equipment
9          10                      3    Strength Training

In [ ]:
df

  category_id category_department_id        category_name
0           1                      2             Football
1           2                      2               Soccer
2           3                      2  Baseball & Softball
3           4                      2           Basketball
4           5                      2             Lacrosse
5           6                      2     Tennis & Racquet
6           7                      2               Hockey
7           8                      2          More Sports
8           9                      3     Cardio Equipment
9          10                      3    Strength Training